NUM_SAMPLES=3
SAMPLE_INTERVAL_SECS=1
SLEEP_DURATION_SECS=60
MONGO_URI=mongodb+srv://<USER>:<URL>
MONGO_APP_ID=
MONGO_CLUSTER_NAME=
MONGO_DATABASE=
MONGO_LOGGER_COLLECTION=
MONGO_MONITOR_KEY=
MONGO_MONITOR_COLLECTIONS=